*.DS_Store
.idea/
*tissue_specificity.tsv
venv/
*__pycache__/
HumanProteinAtlas/Data/
HumanProteinAtlas/all_genes_info.json
BOCC/all_genes_info.json
Data/
snap/
coms/
results/
env/
*.results
*coms*.txt
*.tsv
.Rproj.user
ClusterComparison.Rproj
AnalyzeResults/BOCC_Results/
Results/
Figures/
Edgelists/
